a,
.link {
  color: #718096;
  font-weight: 500;
}

a:hover,
.link:hover {
  color: #1a202c;
}

.table>*>tr>* {
  padding: 0.5rem;
}

button.link {
  border-style: none;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  box-shadow: none;
}