a,
.link {
  color: #718096;
  font-weight: 500;
}

a:hover,
.link:hover {
  color: #1a202c;
}

.table>*>tr>* {
  padding: 0.5rem;
}

.table>thead {
  background-color: #f7fafc;
  border-bottom-width: 1px;
  border-top-width: 1px;
}

.table>thead>tr>th {
  font-weight: 500;
  text-align: center;
  color: #718096;
}

.table>tbody>tr {
  border-bottom-width: 1px;
}

.table>tbody>tr:nth-child(odd) {
  background-color: #fff;
}

.table>tbody>tr:nth-child(even) {
  background-color: #f7fafc;
}

.table>tbody>tr:hover {
  background-color: #edf2f7;
}

.form {
  width: 100%;
  max-width: 24rem;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.input {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-width: 1px;
  border-radius: 0.25rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  line-height: 1.25;
}

.input:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

button {
  border-width: 1px;
  border-color: #4a5568;
  background-color: #e2e8f0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
}

button:hover {
  background-color: #a0aec0;
}

button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.has-error input {
  border-color: #f56565;
}

.has-error .error {
  color: #f56565;
  font-size: 0.75rem;
  font-style: italic;
  margin-top: 1rem;
}

button.link {
  border-style: none;
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.alert.success {
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: #48bb78;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f0fff4;
  color: #22543d;
}

.alert.error {
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: #f56565;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff5f5;
  color: #742a2a;
}