a,
.link {
	@apply text-gray-600 font-medium;
}

a:hover,
.link:hover {
	@apply text-gray-900;
}

.table>*>tr>* {
	@apply p-2;
}

.table>thead {
	@apply bg-gray-100 border-b border-t;
}

.table>thead>tr>th {
	@apply font-medium text-center text-gray-600;
}

.table>tbody>tr {
	@apply border-b;
}

.table>tbody>tr:nth-child(odd) {
	@apply bg-white;
}

.table>tbody>tr:nth-child(even) {
	@apply bg-gray-100;
}

.table>tbody>tr:hover {
	@apply bg-gray-200;
}

.form {
	@apply w-full max-w-sm;
}

.form-group {
	@apply flex flex-wrap mb-6;
}

.label {
	@apply block text-sm mb-2;
}

.input {
	@apply shadow appearance-none border rounded w-full py-2 px-3 leading-tight;
}

.input:focus {
	@apply outline-none shadow-outline;
}

button {
	@apply border border-gray-700 bg-gray-300 py-2 px-4 rounded;
}

button:hover {
	@apply bg-gray-500;
}

button:focus {
	@apply outline-none shadow-outline;
}

.has-error input {
	@apply border-red-500;
}

.has-error .error {
	@apply text-red-500 text-xs italic mt-4;
}

button.link {
	@apply border-none bg-transparent py-0 px-0 rounded-none;
}

.alert.success {
	@apply border rounded border-green-500 p-4 mb-4 bg-green-100 text-green-900;
}

.alert.error {
	@apply border rounded border-red-500 p-4 mb-4 bg-red-100 text-red-900;
}